---
import Layout from "../layouts/Layout.astro";
import NamecheapMarket from "../components/NamecheapMarket/NamecheapMarket";
---

<Layout
  title="Spotify Mood Mapper | Ein.gg"
  customBodyClasses="bg-[#FFFFFF] dark:bg-[#000]"
>
  <section class="bg-[#FFFFFF] dark:bg-[#000]">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-xl">
      <div class="grid gap-8 items-center lg:gap-12 lg:grid-cols-12">
        <div class="col-span-6 text-center sm:mb-6 lg:text-left lg:mb-0">
          <svg
            class="mx-auto mb-4 w-12 h-12 text-gray-500 dark:text-gray-400 lg:ml-0"
            stroke="currentColor"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 14"
          >
            <path
              d="M18 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM9 6v2H2V6h7Zm2 0h7v2h-7V6Zm-9 4h7v2H2v-2Zm9 2v-2h7v2h-7Z"
            ></path>
          </svg>
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-[#b9561d] md:text-5xl xl:text-6xl dark:text-[#b9561d]"
          >
            Namecheap Market
          </h1>
          <p
            class="mx-auto max-w-xl font-light text-gray-500 lg:mx-0 xl:mb-8 md:text-lg xl:text-xl dark:text-gray-400 mb-2"
          >
            Simplify your domain hunting experience by uploading Namecheap
            market data!
          </p>
          <NamecheapMarket client:only="react" />
        </div>
        <!--<div class="col-span-6 lg:flex lg:self-start">-->
        <!--  <img-->
        <!--    class="rounded-full"-->
        <!--    src="/spotify-mapper.png"-->
        <!--    alt="illustration"-->
        <!--  />-->
        <!--</div>-->
      </div>
    </div>
  </section>
</Layout>
