---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spotify Mood Mapper | Ein.gg" customBodyClasses="bg-[#FFFFFF] dark:bg-[#000]">
	<section class="bg-[#FFFFFF] dark:bg-[#000]">
		<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-xl">
			<div class="grid gap-8 items-center lg:gap-12 lg:grid-cols-12">
				<div class="col-span-6 text-center sm:mb-6 lg:text-left lg:mb-0">
					<svg class="mx-auto mb-4 w-12 h-12 text-gray-500 dark:text-gray-400 lg:ml-0" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M9 9l10.5-3m0 6.553v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 11-.99-3.467l2.31-.66a2.25 2.25 0 001.632-2.163zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 01-.99-3.467l2.31-.66A2.25 2.25 0 009 15.553z"></path>
					</svg>
					<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-[#1DB954] md:text-5xl xl:text-6xl dark:text-[#1DB954]">Spotify Mood Mapper</h1>
					<p class="mx-auto max-w-xl font-light text-gray-500 lg:mx-0 xl:mb-8 md:text-lg xl:text-xl dark:text-gray-400">Uncover Your Emotional Journey: Track the Mood Swings of Your Year through Spotify Listening Habits!</p>
					<button type="button" class="text-[#191414] bg-[#1DB954] hover:bg-[#FFFFFF] hover:border-2 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#FFFFFF] mr-2 mb-2 mt-2">
						<img class="w-5 h-5 mr-2 -ml-1" src="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-icon-black-17.png" alt="" data-encore-id="image">
						Sign in with Spotify
					</button>
				</div>
				<div class="col-span-6 lg:flex">
					<img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/maintenance/maintenance.svg" alt="illustration">
				</div>
			</div>
		</div>
	</section>
</Layout>
