---
---
<main class="main">
    <section class="main-section sect-marg">
        <div class="cont">
            <div class="main-section__img">
                <picture>
                    <source srcset="img/main-banner.webp" type="image/webp"><img src="img/main-banner.jpg" alt="">
                </picture>
            </div>

            <h1>Чудо-Блог</h1>

            <div class="main-section__text-block text-block">
                <p>Этот сайт - настоящая находка для тех, кто ценит свое время и желает получать актуальную информацию. Здесь собраны самые полезные и интересные материалы.</p>
            </div>
        </div>
    </section>

    <section class="sect-marg">
        <div class="cont">
            <div class="filter">
                <button type="button" class="filter__tag tag active" data-category="All" disabled>All</button>
                <button type="button" class="filter__tag tag" data-category="Projects">Projects</button>
                <button type="button" class="filter__tag tag" data-category="News">News</button>
            </div>
        </div>
    </section>

    <section class="sect-marg blog-list">
        <div class="cont">
            <div class="blog-item sect-marg__blog-item">
                <div class="blog-item__top flex">
                    <div class="blog-item__date">February 11, 2024</div>

                    <div class="blog-item__tags flex">
                        <div class="blog-item__tag tag" data-category="Projects">Projects</div>

                        <div class="blog-item__tag tag" data-category="News">News</div>
                    </div>
                </div>

                <div class="blog-item__box flex">
                    <a href="/" class="blog-item__img">
                        <picture>
                            <source srcset="img/main-banner.webp" type="image/webp"><img src="img/main-banner.jpg" alt="">
                        </picture>
                    </a>

                    <div class="blog-item__data">
                        <h2 class="blog-item__h2 h2"><a href="/">Дропы уходят под гемблинг? На примере 176 доменов из Namecheap Market</a></h2>

                        <div class="blog-item__text">Не так давно коллега по цеху сделал небольшой рисерч того, под какие же ниши ушли дроп-домены, за которые он в свое время торговался.</div>
                    </div>
                </div>
            </div>

            <div class="blog-item sect-marg__blog-item">
                <div class="blog-item__top flex">
                    <div class="blog-item__date">February 10, 2024</div>

                    <div class="blog-item__tags flex">

                        <div class="blog-item__tag tag" data-category="News">News</div>

                    </div>
                </div>

                <div class="blog-item__box flex">


                    <div class="blog-item__data">
                        <h2 class="blog-item__h2 h2"><a href="/">Дропы уходят под гемблинг? На примере 176 доменов из Namecheap Market</a></h2>

                        <div class="blog-item__text">Не так давно коллега по цеху сделал небольшой рисерч того, под какие же ниши ушли дроп-домены, за которые он в свое время торговался.</div>
                    </div>
                </div>
            </div>

            <div class="blog-item sect-marg__blog-item">
                <div class="blog-item__top flex">
                    <div class="blog-item__date">February 7, 2024</div>

                    <div class="blog-item__tags flex">

                        <div class="blog-item__tag tag" data-category="Projects">Projects</div>

                    </div>
                </div>

                <div class="blog-item__box flex">
                    <a href="/" class="blog-item__img">
                        <picture>
                            <source srcset="img/main-banner.webp" type="image/webp"><img src="img/main-banner.jpg" alt="">
                        </picture>
                    </a>

                    <div class="blog-item__data">
                        <h2 class="blog-item__h2 h2"><a href="/">Дропы уходят под гемблинг? На примере 176 доменов из Namecheap Market</a></h2>

                        <div class="blog-item__text">Не так давно коллега по цеху сделал небольшой рисерч того, под какие же ниши ушли дроп-домены, за которые он в свое время торговался.</div>
                    </div>
                </div>
            </div>

            <div class="blog-item sect-marg__blog-item">
                <div class="blog-item__top flex">
                    <div class="blog-item__date">February 4, 2024</div>

                    <div class="blog-item__tags flex">
                        <div class="blog-item__tag tag" data-category="Projects">Projects</div>
                    </div>
                </div>

                <div class="blog-item__box flex">
                    <a href="/" class="blog-item__img">
                        <picture>
                            <source srcset="img/main-banner.webp" type="image/webp"><img src="img/main-banner.jpg" alt="">
                        </picture>
                    </a>

                    <div class="blog-item__data">
                        <h2 class="blog-item__h2 h2"><a href="/">Дропы уходят под гемблинг? На примере 176 доменов из Namecheap Market</a></h2>

                        <div class="blog-item__text">Не так давно коллега по цеху сделал небольшой рисерч того, под какие же ниши ушли дроп-домены, за которые он в свое время торговался.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
