<main class="main">
    <section class="article-head sect-marg">
        <div class="cont">
            <div class="article-head__top flex">
                <div class="article-head__date">February 11, 2024</div>

                <div class="article-head__tags flex">
                    <div class="article-head__tag tag">News</div>
                    <div class="article-head__tag tag">News</div>
                </div>
            </div>

            <h1 class="article-head__h1 h1">Дропы уходят под гемблинг? На примере 176 доменов из Namecheap Market</h1>

            <div class="article-head__text_block text_block">
                <p>Место для анонсирующего текста здесь.</p>
            </div>
        </div>
    </section>

    <section class="article">
        <div class="cont text-block article__text-block">
            <hr>

            <p>
                Не так давно коллега по цеху - <a href="/">MAXIMAFFILIATE</a> сделал небольшой рисерч того, под какие же ниши ушли дроп-домены, за которые он в свое время торговался.
            </p>

            <blockquote>
                Мне в комментах написали как-то, что все дропы уходят под iGaming. Это заблуждение. В реале большинство доменов никуда не уходят и висят заглушками и&nbsp;я вам это покажу.
            </blockquote>

            <p>
                Его выводы:
            </p>

            <blockquote>
                Итого из 20 доменов только 2 были подняты под гемблу
            </blockquote>

            <p>
                Ссылка на пост: <a href="/">https://t.me/maximaffiliate/903</a>
            </p>

            <p>
                Дисклеймер: Я не намерен конфликтовать с Максимом, уважаю его труд. Просто добавляю данных в выборку его выводов на тему.
            </p>

            <hr>

            <p>
                Я решил сопоставить выводы Максима с другой площадкой - Namecheap Market. Здесь выборка кажется более объективной, и последовательной, т.к. можно ознакомиться со списком всех выкупленных аукционных доменов прям за последние 90 дней. Это отличный способ оценить актуальные рабочие методы на свежих данных.
            </p>

            <figure>
                <picture>
                    <source srcset="img/article_img.webp" type="image/webp"><img src="img/article_img.jpg" alt="">
                </picture>

                <figcaption><a href="/">https://www.namecheap.com/market/recent/</a></figcaption>
            </figure>

            <p>
                Я возьму в выборку все домены, выкупленые на аукционах за стоимость 1000+ долларов. Т.к. те, кто платят такие деньги за дропы - явно имеют бюджеты, и знают как их реализовывать.
            </p>

            <picture>
                <source srcset="img/article_img2.webp" type="image/webp"><img src="img/article_img2.jpg" alt="">
            </picture>

            <hr>

            <h2>Результат</h2>

            <p>
                Сразу же выводы:
            </p>

            <ol>
                <li>
                    Из 176 доменов - 27 использовались под киберсквоттинг. Я бы убирал домены под киберсквоттинг из общей выборки. Ноль ссылочного, и они не имеют отношения к SEO. Итого, в выборка сокращается до 149 доменов.
                </li>

                <picture>
                    <source srcset="img/article_img3.webp" type="image/webp"><img src="img/article_img3.jpg" alt="">
                </picture>

                <li>
                    <p>
                        <mark><b>114 из 149 доменов используются под гемблу. </b></mark>
                    </p>

                    <p>
                        Чаще всего та самая Индонезия, которую упоминал в своем посте Максим.
                    </p>
                </li>
            </ol>

            <hr>

            <p>
                <b>Мои выводы на основе этой площадки вышли несколько обратными от выводов Максима :)</b>
            </p>

            <p>
                Это не значит, что я прав, а Максим не прав, это могут быть особенности площадки, т.к. неймчип маркет - молодая площадка, и не такой уж и популярный источник дропов (как и неймджет, впрочем). Выводы каждый делает для себя сам.
            </p>

            <p>
                Выборка была бы более репрезентативной, если бы я пользовался подобной выгрузкой с Godaddy аукционов, а тут лишь маленькая площадка в сравнении.
            </p>

            <p>
                Для особо любопытных отдельно прикрепил в посте на канале свою рабочую табличку в экселе. Там ничего особенного, только лишь комбо выгрузки с Namecheap Market, выгрузка с ахрефса по этим же доменам (часть столбцов выгрузки скрыта), и мои отметки о текущей нише дроп-домена.
            </p>

            <picture>
                <source srcset="img/article_img4.webp" type="image/webp"><img src="img/article_img4.jpg" alt="">
            </picture>

            <p>
                Если просто пакетно сверить трафик - на 114 Gambling дропов приходится:
            </p>

            <ul>
                <li>7 шт. с трафом больше 10 000</li>

                <li>13 шт. с трафом 1000-9999</li>

                <li>7 шт. с трафом 100-999</li>

                <li>18 шт. с трафом 1-99</li>

                <li>69 шт. с трафом 0</li>
            </ul>

            <p>
                Показатели трафика в таблице не являются до конца достоверными для оценки успешности захода дропов, т.к. многие сайты работают в ГЕО Индонезия, Корея и т.п., где работают локальные регуляторы, и выдача регулярно зачищается. Потому, надо точечно анализировать, если важно оценить профитность.
            </p>

            <p>
                Например, crpsib.com и frugal-cafe.com уже открыто редиректят на spotclassifieds.com. Таким же образом могут быть скрытые подклейки, и т.п. В общем, я не оценивал профитности дропов относительно расходника к профиту, и процента успешности захода, потому, дабл чекайте необходимые данные для выводов.
            </p>

            <p>
                Если точечно поработать с данными, можно базово для себя выверить параметры для подбора "профитного" дропа; сделать выводы о том, работают ли дропы (при ваших бюджетах на таковые); как комплексно работать с дропами.
            </p>

            <hr>

            <p>Всем удачного апдейта. Ваш <mark><a href="/">Эйн</a></mark>.</p>
        </div>
    </section>
</main>
